<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Contact</h3>
    <div class="row g-5 mb-5">
      <div class="col-md-7">
        <h4>Rajesh Karra</h4> 
        <p>Grad Student </p>
        <p>School of Physics, Engineering and Computer Science,  University of Herts </p>
        <p>Hatfield, United Kingdom</p>
        <!-- <p>Phone: +34 xxx xx xx xx </p> -->
       <!-- <p>Email: &nbsp; <b>sara.perezvieites@aalto.fi</b></p>-->
        <p>Email: &nbsp; <b>rajesh_karra@outlook.com</b></p>
        <!-- <p>Office: xxxxx </p> -->
      </div>
      <div class="col-md-5">
        <img src="{{ site.github.url }}/assets/img/uh3.png" alt="Contact" width="80%">
      </div>
    </div>
  </div>
</div>
