---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h3 class="fw-bold">About me</h3>
    <p>I enrolled/studying Masters in Theoretical Physics with Advanced research at the 
      <a class="other" href='https://www.herts.ac.uk/'>
      School of Physics, Engineering and Computer Science, University of Hertfordshire</a> (Hatfield, United Kingdom), 
      <!-- I finished the Ph.D. in Multimedia and Communications 
          (Statistical Signal Processing) from Universidad Carlos III de Madrid in 2022, 
          under the supervision of <a class="other" href='https://jmiguez.webs.tsc.uc3m.es/'>
            Prof. Joaquín Míguez</a>.</p>     
     Before that and in the same college, I got my master's degree in Multimedia and Communications, 
     as well as my master's degree in Telecommunications Engineering in 2017. Previously, -->
      I finished my bachelor's degree in Physics, Mathematics and Computer Science from the Osmania University. 
    
    <p>My <strong>research interests</strong> are focused on Cosmology (Physics), Astrophysics, Quantum Physics, Quantum Field Theory, General Relativity, Computational Physics, Physics, Computer Science, Quantum Gravity, Astronomy, Particle Physics, Learning and Teaching, Theoretical Physics, Spacetime, Relativity Theory, Theoratical Physics, Mathematics </p>
  </div>
  <div class="col-md-5">
    <br>
    <img src="{{ site.github.url }}/assets/img/Rajesh_Photo.JPG" alt="Home" width="100%">
    <p style="font-size:12px">
      Location: <a class="other" href='https://maps.app.goo.gl/gC1NALNRSdJFaH23A'>Glenmore Forest Park, Loch Morlich, Aviemore, Scotland</a>.
    </p>
  </div>
</div>


{% include news.html %}

<!--
<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div>
-->
